
@mixin filter-duotone {
	&:before {
		background: $blue;
		mix-blend-mode: screen;
		opacity: 0.1;
		z-index: 2;
	}

	&:after {
		background: $blue;
		mix-blend-mode: multiply;
		opacity: 1;
		z-index: 3;
	}
}

@mixin filter-grayscale {
	position: relative;
	filter: grayscale(100%);
	z-index: 1;

	&:after {
		display: block;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
}

@mixin page-wrapper-padding {
	padding-top: 20px;

	@include media( tablet ) {
		padding-top: 40px;
	}

	@include media( desktop ) {
		padding-top: 80px;
	}
}

@mixin site-branding-flex {
	@include media( tablet ) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
	}
}

@mixin hentry-line-pseudo-before {
	content: "\020";
	display: block;
	width: 1.5em;
	height: 2px;
	background: lighten($text_color, 50%);
	margin-bottom: 1.3em;

	@include media( tablet ) {
		width: 2em;
	}

	@include media( desktop ) {
		width: 2.8em;
	}
}

@mixin hentry-entry-title {
	@include font-size( 26px );
	@include font-smoothing;

	font-family: $title_font;
	font-weight: 600;
	margin: 0.1em 0 0.7em 0;
	line-height: 1.2;

	@include media( tablet ) {
		@include font-size( 36px );
		margin-bottom: 0.48em;
		font-weight: 700;
	}

	@include media( desktop ) {
		@include font-size( 46px );
		margin-bottom: 0.58em;
	}

	a {
		@include link-transition;
		color: inherit;
		&:hover {
			color: $text_color_link_hover;
			text-decoration: none;
		}
	}
}

@mixin entry-header {
	.posted-on {
		@include font-smoothing;
	}

	.entry-title {
		@include hentry-entry-title;
	}

	.content-wrap &:before {
		@include post-section-dash;
	}

}

@mixin entry-footer-style {
	font-family: $title_font;
	font-weight: 500;
	color: lighten($light_text, 0%);

	> span {
		$hmargin: 1.35em;
		$vmargin: 0.35em;

		display: inline-block;
		margin: $vmargin $hmargin $vmargin 0;
		&:last-child {
			margin-right: 0;
		}
	}

	a {
		@include link-transition;
		color: inherit;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}

	.svg-icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		fill: darken($light_text, 8%);
		margin-right: 0.3em;
		top: -0.1em;
	}

	.byline {
		.svg-icon {
			transform: scale(1.1);
			top: -0.13em;
		}
	}

	.est-reading-time {
		.svg-icon {
			transform: scale(0.88);
		}
	}

	.cat-links {
		.svg-icon {
			transform: scale(0.9);
			top: -0.12em;
		}
	}

	.comments-link {
		white-space: nowrap;
		.svg-icon {
			transform: scale(0.87);
		}
	}

	.edit-link {
		white-space: nowrap;
		.svg-icon {
			transform: scale(0.9);
		}
	}
}

@mixin entry-footer {
	@include font-size( 12px );
	@include font-smoothing;

	margin-top: 1.5em;

	@include media( tablet ) {
		@include font-size( 13px );
	}

	@include entry-footer-style;
}

@mixin description-dash {
	display: inline-block;
	content: "–";
	transform: scaleX(1.8);
	margin: 0 0.5em;

	@include media( tablet ) {
		margin: 0 0.35em;
	}

	@include media( desktop ) {
		margin: 0 0.3em;
	}
}

@mixin post-section-dash {
	display: block;
	content: "\020";
	background: $light_text;
	margin: 0 0 1em 0;
	width: 1.563rem;
	height: 2px;

	@include media( tablet ) {
		width: 2.5rem;
		margin-bottom: 1.18rem;
	}

	@include media( desktop ) {
		width: 3.75rem;
	}
}

@mixin author-bio-font-common-styles {
	@include font-size( 22px );

	@include media( tablet ) {
		@include font-size( 27px );
	}

	@include media( desktop ) {
		@include font-size( 36px );
	}

	.author-link, .post-title {
		font-size: 0.88em;
	}

}

@mixin author-description-title {
	@include font-size( 18.5px );
	font-family: $title_font;

	@include media( tablet ) {
		@include font-size( 25px );
	}

	@include media( desktop ) {
		@include font-size( 33px );
	}
}

@mixin block-margin( $v-space: $root-space-base, $h-space: 0 ) {
	margin: $v-space $h-space;
}

@mixin block-padding( $v-space: $root-space-base, $h-space: $root-space-base ) {
	padding: $v-space $h-space;
}

