
$text_color: #111;

$light_text: lighten( #929292, 1% );

$blue: #0999d4;

$darker_blue: mix( $text_color, $blue, 30% );

$text_color_link_hover: lighten($text_color, 22.5%);

$button_background: $text_color;

$button_hover_background: $blue;

$text_selection_background: #ccf0ff;