
%page-wrapper-padding {
	padding-top: 20px;

	@include media( tablet ) {
		padding-top: 40px;
	}
	
	@include media( desktop ) {
		padding-top: 80px;
	}
}

%site-branding-flex {
	@include media( tablet ) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
	}
}