
%filter-grayscale {
	position: relative;
	filter: grayscale(100%);
	z-index: 1;
	
	&:after {
		display: block;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
}

%filter-duotone {
	&:before {
		background: $blue;
		mix-blend-mode: screen;
		opacity: 0.1;
		z-index: 2;
	}

	&:after {
		background: $blue;
		mix-blend-mode: multiply;
		opacity: 1;
		z-index: 3;
	}
}

%page-wrapper-padding {
	padding-top: 20px;

	@include media( tablet ) {
		padding-top: 40px;
	}
	
	@include media( desktop ) {
		padding-top: 80px;
	}
}

%site-branding-flex {
	@include media( tablet ) {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
	}
}

%hentry-line-pseudo-before {
	content: "\020";
	display: block;
	width: 1.5em;
	height: 2px;
	background: lighten($text_color, 50%);
	margin-bottom: 1.3em;
	
	@include media( tablet ) {
		width: 2em;
	}
	
	@include media( desktop ) {
		width: 2.8em;
	}
}

%entry-header {
	.posted-on {
		@include font-size( 15px );
		
		@include media( tablet ) {
			@include font-size( 18px );
		}
		
		@include media( desktop ) {
			@include font-size( 26px );
		}
	}

	.entry-title {
		@include font-size( 25px );
		font-family: $title_font;
		margin: 0.1em 0 0 0;
		font-weight: bold;
		line-height: 1.25;
		
		@include media( tablet ) {
			@include font-size( 36px );
		}
		
		@include media( desktop ) {
			@include font-size( 48px );
			letter-spacing: -0.02em;
			line-height: 1.15;
			word-spacing: 0.05em;
		}
	}
	
	.content-wrap &:before {
		@extend %hentry-line-pseudo-before;
	}
	
}

.entry-header .meta-info,
.singular-post-meta .meta-info {
	@extend %entry-footer-style;
	@include font-smoothing;
	@include font-size( 12px );
	margin-top: 0.5em;

	> span {
		font-weight: 600;
	}
	
	@include media( tablet ) {
		@include font-size( 13px );
		margin-top: 1.15em;
	}
	
	@include media( desktop ) {
		@include font-size( 14px );
	}
}

%entry-footer-style {
	font-family: $title_font;
	font-weight: 500;
	color: lighten($light_text, 0%);
	
	> span {
		$hmargin: 1.35em;
		$vmargin: 0.35em;
		
		display: inline-block;
		margin: $vmargin $hmargin $vmargin 0;
		&:last-child {
			margin-right: 0;
		}
	}
	
	a {
		@include link-transition;
		color: inherit;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
	
	.svg-icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		fill: darken($light_text, 8%);
		margin-right: 0.3em;
		top: -0.1em;
	}
	
	.byline {
		.svg-icon {
			transform: scale(1.1);
			top: -0.13em;
		}
	}
	
	.est-reading-time {
		.svg-icon {
			transform: scale(0.88);
		}
	}
	
	.cat-links {
		.svg-icon {
			transform: scale(0.9);
			top: -0.12em;
		}
	}
	
	.comments-link {
		white-space: nowrap;
		.svg-icon {
			transform: scale(0.87);
		}
	}
	
	.edit-link {
		white-space: nowrap;
		.svg-icon {
			transform: scale(0.9);
		}
	}
}

%entry-footer {
	@include font-size( 12px );
	@include font-smoothing;
	
	margin-top: 1.5em;
	
	@include media( tablet ) {
		@include font-size( 13px );
	}
	
	@extend %entry-footer-style;
}

%description-dash {
	display: inline-block;
	content: "–";
	transform: scaleX(1.8);
	margin: 0 0.5em;
	
	@include media( tablet ) {
		margin: 0 0.35em;
	}
	
	@include media( desktop ) {
		margin: 0 0.3em;
	}
}

%post-section-dash {
	display: block;
	content: "\020";
	background: $light_text;
	margin: 0 0 1em 0;
	width: 1.15rem;
	height: 2px;
	
	@include media( tablet ) {
		width: 2rem;
		margin-bottom: 1.18rem;
	}
	
	@include media( desktop ) {
		width: 2.8rem;
	}
}

%author-bio-font-common-styles {
	@include font-size( 22px );
	
	@include media( tablet ) {
		@include font-size( 27px );
	}

	@include media( desktop ) {
		@include font-size( 36px );
	}

	.author-link, .post-title {
		font-size: 0.88em;
	}

}

%author-description-title {
	@include font-size( 18.5px );
	font-family: $title_font;

	@include media( tablet ) {
		@include font-size( 25px );
	}
	
	@include media( desktop ) {
		@include font-size( 33px );
	}
}