
// Typography

$x-text-font: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;

$base-size: 18px;

// Screen widths.

$mobile_width: 380px;

$tablet_width: 768px;

$desktop_width: 1168px;

$wide_width: 1379px;

$side_padding: 20px;