
// Typography

$text_font: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;

$title_font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$monospace_font: Menlo, monaco, Consolas, Lucida Console, monospace;

$base_size: 18px;


// Screen widths.

$mobile_width: 380px;

$tablet_width: 768px;

$desktop_width: 1168px;

$wide_width: 1379px;

$side_padding: 20px;


// Logo wrapper.

$logo_wrapper_width_tablet: 108px;

$logo_wrapper_width_desktop: 172px;


// Comments.

$threaded_comments_padding_mobile: 20px;

$threaded_comments_padding_tablet: 20px;

$threaded_comments_padding_desktop: 20px;

$comment_avatar_padding_tablet: 70px;

$comment_avatar_padding_desktop: 70px;

$discussion_avatar_pull_margin: 8px;

// Avatar sizes.

$avatar_size_normal: 40px;

$avatar_border_normal: 4px;

$avatar_size_small: 28px;

$avatar_border_small: 4px;


// Transition timeouts.

$link_transition: 110ms;

$icon_transition: 120ms;

$button_transition: 150ms;