
/* !Block styles */

.entry-content > *,
.entry-summary > * {

	@include block-margin();

	&.alignwide {

		margin-left: auto;
		margin-right: auto;

		@include media( tablet ) {
			max-width: 100%;
			margin-right: 0;
		}

		@include media( wide ) {
			margin-left: 0;
		}
	}

	&.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}

	&.alignleft,
	&.alignright {
		float: left;
		max-width: ( $mobile_width * .5 );
		margin-top: 0;
		margin-right: $root-space-base;

		@include media( tablet ) {
			max-width: ( $tablet_width * .5 );
		}

		@include media( wide ) {
			max-width: ( $desktop_width * .33 );
		}
	}

	&.alignright {
		float: right;
		margin-left: $root-space-base;
		margin-right: inherit;
	}
}

.entry-content {

	//! Audio
	.wp-block-audio {

		audio {
			width: 100%;
		}

		&.alignleft audio,
		&.alignright audio {

			max-width: ( $mobile_width * .5 );

			@include media( tablet ) {
				max-width: ( $tablet_width * .5 );
			}

			@include media( wide ) {
				max-width: ( $desktop_width * .33 );
			}
		}
	}

	//! Button
	.wp-block-button {

		.wp-block-button__link {

			@include button-transition;

			border: none;
			border-radius: (1em * $root-line-height-heading);
			background: $button_background;
			font-size: $root-font-size-base;
			font-family: $root-font-heading;
			line-height: $root-line-height-heading;
			box-sizing: border-box;
			font-weight: 600;
			padding: ($root-space-base * .75) $root-space-base;
			outline: none;
			color: white;
			outline: none;

/*
			@include media( tablet ) {
				font-size: $root-font-size-md;
				padding: ($root-space-base * .875) ($root-space-base * 1.2);
			}
*/

			@include media( desktop ) {
				font-size: $root-font-size-md;
				padding: ($root-space-base * .875) ($root-space-base * 1.5);
			}

			&:hover {
				cursor: pointer;
			}

			&:hover, &:focus {
				background: $button_hover_background;
			}

			&:focus {
				outline: thin dotted;
				outline-offset: -4px;
			}
		}
	}

	//! Categories & archives
	.wp-block-archives,
	.wp-block-categories {

		font-family: $root-font-heading;
		font-size: $root-font-size-md;

		a {
			font-weight: bold;
		}
	}

	//! Latest posts
	.wp-block-latest-posts {
		border-left: 2px solid $light_text;
		padding: 0 0 0 ($root-space-base * 2);
		margin-left: -($root-space-base * 2);
		list-style: none;

		li {
			font-family: $root-font-heading;
			font-size: $root-font-size-lg;
			font-weight: bold;
			line-height: $root-line-height-heading;

			&:after {
				content: ",";
			}

			&:last-child:after {
				content: ".";
			}
		}
	}

	//! Latest preformatted text
	.wp-block-preformatted {
		padding: $root-space-base;
	}

	// !Pullquote
	.wp-block-pullquote {

		background: $blue;
		padding: 0;

		blockquote {
			border-left: none;
			margin: 0;
			padding: ($root-space-base * 3) ;
		}

		p {
			color: #fff;
			font-size: $root-font-size-lg;
			line-height: $root-line-height-heading;
		}

		cite {
			color: #fff;
		}

		&.alignleft,
		&.alignright {
			p {
				font-size: $root-font-size-lg;
			}
		}
	}

	//! Blockquote
	.wp-block-quote {
		margin-left: -($root-space-base * 2);

		&.is-large {
			padding: $root-space-base 0 ($root-space-base * .5) ($root-space-base * 2);

			p {
				font-size: $root-font-size-lg;
				line-height: $root-line-height-heading;
			}
		}
	}

	//! Captions
	.wp-block-audio figcaption,
	.wp-block-video figcaption,
	.wp-block-image figcaption,
	.wp-block-gallery .blocks-gallery-image figcaption,
	.wp-block-gallery .blocks-gallery-item figcaption {
		font-size: $root-font-size-sm;
		font-family: $root-font-heading;
		margin: 0;
		padding: ($root-space-base * .5) 0;
		text-align: left;
	}

	.wp-block-audio.alignfull figcaption,
	.wp-block-video.alignfull figcaption,
	.wp-block-image.alignfull figcaption,
	.wp-block-gallery.alignfull .blocks-gallery-image figcaption,
	.wp-block-gallery.alignfull .blocks-gallery-item figcaption {
		padding: ($root-space-base * .5);
	}

	//! Image
	.wp-block-image {

		img {
			display: block;
		}

		&.alignleft,
		&.alignright {
			max-width: 100%;
		}

		&.alignfull img {
			width: 100vw;
			margin-left: auto;
			margin-right: auto;
		}
	}

	//! Separator
	.wp-block-separator {
		margin: ( 2 * $root-space-base ) 0;
	}

	//! Subhead
	.wp-block-subhead {
		color: $blue;
		font-size: $root-font-size-lg;
		line-height: $root-line-height-heading;
		opacity: inherit;
	}

}
