
/* Block styles */

.entry-content > *,
.entry-summary > * {

	@include block-margin();

	&.alignwide {

		margin-left: auto;
		margin-right: auto;

		@include media( tablet ) {
			max-width: 100%;
			margin-right: 0;
		}

		@include media( wide ) {
			margin-left: 0;
		}
	}

	&.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
	}

	&.alignleft,
	&.alignright {
		float: left;
		max-width: ( $mobile_width * .5 );
		margin-top: 0;
		margin-right: $root-space-base;

		@include media( tablet ) {
			max-width: ( $tablet_width * .5 );
		}

		@include media( wide ) {
			max-width: ( $desktop_width * .33 );
		}
	}

	&.alignright {
		float: right;
		margin-left: $root-space-base;
		margin-right: inherit;
	}
}

.entry-content {

	// Categories & archives
	.wp-block-archives,
	.wp-block-categories {

		font-family: $root-font-heading;
		font-size: $root-font-size-md;

		a {
			font-weight: bold;
		}
	}

	// Latest posts
	.wp-block-latest-posts {
		border-left: 2px solid $light_text;
		padding: 0 0 0 ($root-space-base * 2);
		margin-left: -($root-space-base * 2);
		list-style: none;

		li {
			font-family: $root-font-heading;
			font-size: $root-font-size-lg;
			font-weight: bold;
			line-height: $root-line-height-heading;

			&:after {
				content: ",";
			}

			&:last-child:after {
				content: ".";
			}
		}
	}

	// Latest preformatted text
	.wp-block-preformatted {
		padding: $root-space-base;
	}

	// Pullquote
	.wp-block-pullquote {

		background: $blue;
		padding: 0;

		blockquote {
			border-left: none;
			margin: 0;
			padding: ($root-space-base * 3) ;
		}

		p {
			color: #fff;
			font-size: $root-font-size-lg;
			line-height: $root-line-height-heading;
		}

		cite {
			color: #fff;
		}

		&.alignleft,
		&.alignright {
			p {
				font-size: $root-font-size-lg;
			}
		}
	}

	// Blockquote
	.wp-block-quote {
		margin-left: -($root-space-base * 2);

		&.is-large {
			padding: $root-space-base 0 ($root-space-base * .5) ($root-space-base * 2);

			p {
				font-size: $root-font-size-lg;
				line-height: $root-line-height-heading;
			}
		}
	}

	// Separator
	.wp-block-separator {
		margin: ( 2 * $root-space-base ) 0;
	}

	// Subhead
	.wp-block-subhead {
		color: $blue;
		font-size: $root-font-size-lg;
		line-height: $root-line-height-heading;
		opacity: inherit;
	}

}
