
/** === Comments. === */

.comments-area {
	@include font-smoothing;
	
	.comments-title {
		@include author-description-title;
		
		&:before {
			@include post-section-dash;
		}
	}
	
	.no-comments {
		font-weight: bold;
		font-family: $title_font;
		color: $light_text;
		margin: 1.2em 0 0 0;
	}
	
}

#respond {
	padding-top: 1px; // Stop margin spread, avoids jumpy elements.
	
	.comment-user-avatar {
		display: none;
	}
	
	.comment-form-comment label[for="comment"]:first-child {
		display: none;
	}
}

.comment-list {
	
	margin: 2.2em 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
	
	.children {
		margin: 0;
		padding: 0 0 0 $threaded_comments_padding_mobile;
		
		@include media( tablet ) {
			padding-left: $threaded_comments_padding_tablet;
		}

		@include media( desktop ) {
			padding-left: $threaded_comments_padding_desktop;
		}
	}
	
	> .comment:first-child {
		margin-top: 0;
	}
	
}

.comment {
	position: relative;
	margin-top: 1em;
	line-height: 1;
	
	> #respond {
		margin-top: -$comment_reply_line_height;
	}
	
	> .comment-body {
		/* Account for absolutely positioned `.comment .reply` element. */
		padding-bottom: $comment_reply_line_height;
	}
	
	@include media( tablet ) {
		padding-left: $comment_avatar_padding_tablet;
		
		.children {
			padding-left: 0;
		}
	}

	&:hover > .comment-body > .comment-meta > .comment-metadata {
		> .edit-link-sep, > .edit-link {
			opacity: 1;
		}
	}
	
	.comment-meta {
		position: relative;
		padding: 0 0 0 50px;
		
		@include media( tablet ) {
			position: static;
			padding-top: 0.7rem;
			padding-left: 0;
		}
	}
	
	.comment-author {
		margin: 0 0 -0.4em 0;
		
		/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
		 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
		 * layers of box-shadow to add the border visually, which will render the border smoother. */

		@mixin box-shadow( $size ) {
			box-shadow:
				0 0 0 $size $text_color inset,         	// Original border.
				0 0 0 ($size + 1px) $text_color inset, 	// Antialiasing, inner edge.
				0 0 1px 0 rgba( $text_color, 0.7 );  	// Antialiasing, outer edge.
		}
		
		@include media( tablet ) {
			display: inline;
		}
		
		img {
			@include dimensions( $avatar_size_small );

			position: absolute;
			border-radius: 100%;
			top: 0; left: 0;
			
			@include box-shadow( $avatar_size_normal );
			padding: $avatar_border_small;
				
			@include media( tablet ) {
				@include box-shadow( $avatar_border_normal );
				@include dimensions( $avatar_size_normal );
				padding: $avatar_border_normal;
			}
		}
		
		.fn {
			@include font-size( 17px );
			
			position: relative;
			display: block;
			font-family: $title_font;
			font-weight: bold;
			margin-bottom: -0.1em;
			top: -0.18em;
			
			@include media( tablet ) {
				@include font-size( 22px );
				position: relative;
				display: inline;
				vertical-align: middle;
			}
			
			a {
				@include link-transition;
				color: inherit;
				&:hover {
					color: $darker_blue;
					text-decoration: none;
				}
			}
		}
		
	}
	
	.comment-metadata {
		font-family: $title_font;
		padding: 1px 0;
		line-height: 1.6;
		
		@include media( tablet ) {
			position: relative;
			display: inline;
			margin-left: 0.8em;
			top: -0.05rem;
		}
		
		> a, .comment-edit-link {
			@include font-size( 14px );
			@include link-transition;
			font-weight: 500;
			color: $light_text;
			vertical-align: middle;
			line-height: 1;
			
			time {
				vertical-align: middle;
			}

			&:hover {
				color: darken($light_text, 10%);
				text-decoration: none;
			}
		}

		> a {


			position: relative;
			top: -0.05em;
			
			@include media( tablet ) {
				@include font-size( 14px );
			}
		}
		
		@mixin edit-link-transition {
			transition: opacity 200ms ease-in-out;
			opacity: 0;
		}
		
		.edit-link-sep {
			@include edit-link-transition;
			margin: 0 0.2em;
			color: $light_text;
			vertical-align: middle;
		}

		.edit-link {
			@include edit-link-transition;
			color: $light_text;
			
			svg {
				@include svg-transition;
				transform: scale(0.8);
				vertical-align: middle;
				margin-right: 0.2em;
				fill: $light_text;
				
				&:hover {
					fill: $light_text !important;
				}
			}
			
			&:hover {
				svg {
					fill: $blue;
				}
			}
		}
		
		.comment-edit-link {
			$padding: 1.4em;
			
			position: relative;
			padding-left: $padding;
			margin-left: -$padding;
			z-index: 1;
			
			&:hover {
				color: $blue;
				svg {
					fill: $blue;
				}
			}
			
		}
	}
	
	.comment-content {
		@include font-size( 16px );
		@include remove-child-margins;
		
		line-height: 1.7;
		margin-top: 0.5em;
		padding-bottom: 0.5em;
		
		@include media( tablet ) {
			@include font-size( 17px );
		}
		
		@include media( desktop ) {
			@include font-size( 18px );
			padding-right: 80px;
			padding-bottom: 1em;
		}
	}
	
}

.comment.bypostauthor .comment-author .post-author-badge {
	@include dimensions( 22px );
	
	display: block;
	position: absolute;
	background: lighten( $blue, 8% );
	transform: scale(0.85);
	left: 20px;
	margin: -6px 0 0 2px;
	border-radius: 100px;
	
	@include media( tablet ) {
		left: 38px;
		top: 4px;
	}
	
	svg {
		width: inherit;
		height: inherit;
		display: block;
		fill: white;
		transform: scale(0.95);
	}
	
}

/* The comment reply button needs to be absolutely positioned because
 * it needs to be aligned with the "Cancel comment reply" link. */

.comment .reply {
	position: absolute;
	margin-top: -0.2em;
	line-height: $comment_reply_line_height;
	right: 0;
}

.comment-reply-link, #cancel-comment-reply-link {
	@include font-size( 13px, rem );
	font-family: $title_font;
	font-weight: 500;
	
	@include media( desktop ) {
		@include font-size( 15px, rem );
	}
	
	&:hover {
		@include link-transition;
		text-decoration: none;
		color: $darker_blue;
	}
	
}

#cancel-comment-reply-link {
	position: relative;
	top: -0.4em;
	
	@include media( desktop ) {
		top: -0.38em;
	}
}

.comment-navigation {
	margin-top: 1.2em;
	
	@include media( tablet ) {
		margin-top: 2.4em;
	}
	
	.nav-links {
		
		display: flex;
		flex-direction: row;
		
		a {
			@include font-size( 15px );
			font-family: $title_font;
			color: $light_text;
			font-weight: 600;
		}
		
	}
	
	.nav-previous, .nav-next {
		min-width: 50%;
		width: 100%;
		
		.secondary-text {
			display: none;
			
			@include media( tablet ) {
				display: inline;
			}
		}
		
		svg {
			@include svg-transition;
			vertical-align: middle;
			position: relative;
			fill: $light_text;
			margin: 0 -0.35em;
			top: -1px;
		}
		
		a {
			@include link-transition;

			&:hover {
				text-decoration: none;
				color: $blue;
				svg {
					fill: $blue;
				}
			}
		}
	}
	
	.nav-next {
		text-align: right;
	}
	
}