
/** === Comments. === */

/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
 * layers of box-shadow to add the border visually, which will render the border smoother. */

@mixin box-shadow( $size ) {
	box-shadow:
		0 0 0 $size $text_color inset,         	// Original border.
		0 0 0 ($size + 1px) $text_color inset, 	// Antialiasing, inner edge.
		0 0 1px 0 rgba( $text_color, 0.7 );  	// Antialiasing, outer edge.
}

@mixin comment-user-avatar( $incr: 0 ) {
	
	img {
		@include dimensions( $avatar_size_small );

		border-radius: 100%;
		display: block;
		
		@include box-shadow( $avatar_size_normal + $incr );
		padding: $avatar_border_small + $incr;
			
		@include media( tablet ) {
			@include box-shadow( $avatar_border_normal + $incr );
			@include dimensions( $avatar_size_normal );
			padding: $avatar_border_normal + $incr;
		}
	}

}

@mixin comment-content-style {
	@include font-size( 16px );
	line-height: 1.7;
	
	@include media( tablet ) {
		@include font-size( 17px );
	}
	
	@include media( desktop ) {
		@include font-size( 18px );
	}
}

.comments-area {
	@include font-smoothing;
	
	.comments-title {
		@include author-description-title;
		
		&:before {
			@include post-section-dash;
		}
	}
	
	.no-comments {
		font-weight: bold;
		font-family: $title_font;
		color: $light_text;
		margin: 1.2em 0 0 0;
	}
	
}

#comment {
	max-width: 100%;
	box-sizing: border-box;
}

#respond {
	position: relative;

	.comment-user-avatar {
		display: none;
	}
	
	.comment-form-comment label[for="comment"]:first-child {
		display: none;
	}
	
	> small {
		display: block;
		text-align: right;
	}
}

#comments > #respond {
	
	@include media( desktop ) {
		padding-left: $comment_avatar_padding_desktop;
	}
	
	.comment-user-avatar {
		@include media( desktop ) {
			@include comment-user-avatar;
			
			position: absolute;
			display: block;
			top: 0; left: 0;
			
			img {
				@include dimensions( $avatar_size_normal );
			}
		}
	}
	
}

.comment-form-flex {
	
	margin-top: 1.6em;
	display: flex;
	flex-direction: column;
	
	@include media( desktop ) {
		margin-top: 3.4em;
	}
	
	.comments-title {
		display: none;
		margin: 0;
		order: 1;
	}
	
	#respond {
		order: 2;
		+ .comments-title {
			display: block;
		}
	}

}

#comments > .comments-title:last-child {
	display: none;
}

.comment-list {
	
	margin: 2.2em 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
	
	.children {
		margin: 0;
		padding: 0 0 0 $threaded_comments_padding_mobile;
		
		@include media( tablet ) {
			padding-left: $threaded_comments_padding_tablet;
		}

		@include media( desktop ) {
			padding-left: $threaded_comments_padding_desktop;
		}
	}
	
	> .comment:first-child {
		margin-top: 0;
	}
	
}

.comment-reply {
	$line_height: 1.3em;
	
	text-align: right;
	padding-top: 0.2em;
	line-height: $line_height;
	
	#respond + & {
		display: none;
	}

	@include media( desktop ) {
		margin-top: -1*$line_height;
		padding-top: 0;
	
		.comment-reply-link {
			position: relative;
			display: inline-block;
			top: -0.3em;
		}
	}

}

.comment {
	position: relative;
	margin-top: 1.4em;
	line-height: 1;
	
	@include media( desktop ) {
		margin-top: 1.9em;
	}
	
	> #respond {
		margin-bottom: 3.2em;
		
		/* Edit this when reply and cancel buttons are not aligned. */
		padding-top: 0.48em;
	}
	
	@include media( tablet ) {
		padding-left: $comment_avatar_padding_tablet;
		
		.children {
			padding-left: 0;
		}
	}

	&:hover > .comment-body > .comment-meta > .comment-metadata {
		> .edit-link-sep, > .edit-link {
			opacity: 1;
		}
	}
	
	.comment-meta {
		position: relative;
		padding: 0 0 0 50px;
		
		@include media( tablet ) {
			position: static;
			padding-top: 0.7rem;
			padding-left: 0;
		}
	}
	
	.comment-author {
		@include comment-user-avatar;
		margin: 0 0 -0.4em 0;
		
		@include media( tablet ) {
			display: inline;
		}
		
		img {
			position: absolute;
			top: 0; left: 0;
		}
		
		.fn {
			@include font-size( 17px );
			
			position: relative;
			display: block;
			font-family: $title_font;
			font-weight: bold;
			margin-bottom: -0.1em;
			top: -0.18em;
			
			@include media( tablet ) {
				@include font-size( 22px );
				position: relative;
				display: inline;
				vertical-align: middle;
			}
			
			a {
				@include link-transition;
				color: inherit;
				&:hover {
					color: $darker_blue;
					text-decoration: none;
				}
			}
		}
		
	}
	
	.comment-metadata {
		font-family: $title_font;
		padding: 1px 0;
		line-height: 1.6;
		
		@include media( tablet ) {
			position: relative;
			display: inline;
			margin-left: 0.8em;
			top: -0.05rem;
		}
		
		> a, .comment-edit-link {
			@include font-size( 14px );
			@include link-transition;
			font-weight: 500;
			color: $light_text;
			vertical-align: middle;
			letter-spacing: -0.025em;
			line-height: 1;
			
			time {
				vertical-align: middle;
			}

			&:hover {
				color: darken($light_text, 10%);
				text-decoration: none;
			}
		}

		> a {


			position: relative;
			top: -0.05em;
			
			@include media( tablet ) {
				@include font-size( 14px );
			}
		}
		
		@mixin edit-link-transition {
			transition: opacity 200ms ease-in-out;
			opacity: 0;
		}
		
		.edit-link-sep {
			@include edit-link-transition;
			margin: 0 0.2em;
			color: $light_text;
			vertical-align: middle;
		}

		.edit-link {
			@include edit-link-transition;
			color: $light_text;
			
			svg {
				@include svg-transition;
				transform: scale(0.8);
				vertical-align: middle;
				margin-right: 0.1em;
				fill: $light_text;
				
				&:hover {
					fill: $light_text !important;
				}
			}
			
			&:hover {
				svg {
					fill: $blue;
				}
			}
		}
		
		.comment-edit-link {
			$padding: 1.4em;
			
			position: relative;
			padding-left: $padding;
			margin-left: -$padding;
			z-index: 1;
			
			&:hover {
				color: $blue;
				svg {
					fill: $blue;
				}
			}
			
		}
	}
	
	.comment-content {
		@include remove-child-margins;
		@include comment-content-style;

		margin-top: 0.5em;

		@include media( desktop ) {
			padding-right: 80px;
		}
	}
	
}

.comment.bypostauthor .comment-author .post-author-badge {
	@include dimensions( 22px );
	
	display: block;
	position: absolute;
	background: lighten( $blue, 8% );
	transform: scale(0.85);
	left: 20px;
	margin: -6px 0 0 2px;
	border-radius: 100px;
	
	@include media( tablet ) {
		left: 38px;
		top: 4px;
	}
	
	svg {
		width: inherit;
		height: inherit;
		display: block;
		fill: white;
		transform: scale(0.95);
	}
	
}

.comment-reply-link, #cancel-comment-reply-link {
	@include font-size( 13px, rem );
	font-family: $title_font;
	font-weight: 500;
	
	@include media( desktop ) {
		@include font-size( 15px, rem );
	}
	
	&:hover {
		@include link-transition;
		text-decoration: none;
		color: $darker_blue;
	}
	
}

.comment-navigation {
	margin-top: 1.2em;
	
	@include media( tablet ) {
		margin-top: 2.4em;
	}
	
	.nav-links {
		
		display: flex;
		flex-direction: row;
		
		a {
			@include font-size( 15px );
			font-family: $title_font;
			color: $light_text;
			font-weight: 600;
		}
		
	}
	
	.nav-previous, .nav-next {
		min-width: 50%;
		width: 100%;
		
		.secondary-text {
			display: none;
			
			@include media( tablet ) {
				display: inline;
			}
		}
		
		svg {
			@include svg-transition;
			vertical-align: middle;
			position: relative;
			fill: $light_text;
			margin: 0 -0.35em;
			top: -1px;
		}
		
		a {
			@include link-transition;

			&:hover {
				text-decoration: none;
				color: $blue;
				svg {
					fill: $blue;
				}
			}
		}
	}
	
	.nav-next {
		text-align: right;
	}
	
}

.discussion-avatar-list {
	@include clearfix;

	margin: 0;
	padding: 0;
	
	li {
		position: relative;
		list-style: none;
		margin: 0 -1*$discussion_avatar_pull_margin 0 0;
		padding: 0;
		float: left;
	}

	.comment-user-avatar {
		@include comment-user-avatar( -1px );
		
		@include media( tablet ) {
			img {
				@include dimensions( $avatar_size_small );
			}
		}
	}

}

.discussion-meta {
	
	.discussion-avatar-list {
		display: inline-block;
		margin-right: $discussion_avatar_pull_margin;
	}
	
	.discussion-meta-info {
		@include font-size( 14px );
		color: $light_text;
		font-family: $title_font;
		margin: 0.0em 0 0 0;
		letter-spacing: -0.025em;
		font-weight: 500;
		
		.svg-icon {
			vertical-align: middle;
			fill: $light_text;
			transform: scale( 0.6 ) scaleX(-1) translateY(-0.1em);
			margin-left: -0.25em; // Align icon with avatars above.
		}
	}
	
}

.comments-title-flex {
	
	$bottom_offset: 0.1em;
	
	@include media( desktop ) {
		
		display: flex;
		flex-direction: baseline;
		align-items: flex-end;
		padding-bottom: $bottom_offset;
		
		.comments-title {
			padding-right: 0.6rem;
			flex-grow: 1;
		}
	
		.discussion-meta {
			transform: translateY( $bottom_offset );
			max-width: 50%;
			width: auto;
		
			.discussion-avatar-list {
			}
		
			.discussion-meta-info {
				letter-spacing: -0.05em;
				text-align: right;
			}
		}

	}
	
}

.comment-form {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	textarea {
		@include comment-content-style;
	}
	
	textarea {
		padding: 0.7em 1em;
	}

	.form-submit {
		margin-bottom: 0;
	}
	
}

#respond + .comment-list,
.comment-list + #respond {
	margin-top: 3.4em;
}