
// Show development colors guides.

.site-footer {
	margin-bottom: 80vh;
}

@if false {
	
	body.single header.cover-image .singular-post-meta {
		.content-wrap .entry-title {
			background: green;
		}
	}

	.hentry {
	
		.entry-header, .entry-content, .entry-footer, .author-description {
			background: green;
		}
	
	}
	
}