
/** === Elements === */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #fff;
}

a {

}

a:visited {

}

a:hover, a:focus, a:active {

}

a:focus {

}

a:hover, a:active {
	outline: 0;
}

hr {
	background-color: $light_text;
	border: 0;
	height: 1px;
	margin-bottom: $root-space-base;
}

ul,
ol {
	padding-left: $root-space-base;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-left: $root-space-base;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $root-space-base $root-space-base;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

blockquote {

	border-left: 2px solid $blue;
	margin-left: -($root-space-base * 2);
	padding: $root-space-base 0 ($root-space-base * .5) ($root-space-base * 2);

	> p {
		margin: 0 0 $root-space-base;
	}

	cite {
		color: $light_text;
	}
}

table {
	margin: 0 0 $root-space-base;
	width: 100%;
}
