
/** === Entries === */

.hentry {

	margin-top: 3em;

	&:first-of-type {
		margin-top: 0;
	}

	body:not(.singular) &:before {
		@include post-section-dash;
	}

	.entry-title {
		@include hentry-entry-title;
	}

	.entry-meta {

		.posted-on {
			@include font-smoothing;
			display: block;
			margin-bottom: 0.2em;

			@include media( tablet ) {
				margin-bottom: 0.1em;
			}

			@include media( desktop ) {
				@include font-size( 24px );
				margin-bottom: 0.05em;
			}

			a {
//				@include link-transition;
				&:hover {
					text-decoration: none;
					color: $darker_blue;
				}
			}
		}

	}

	.entry-footer {
		@include entry-footer;
	}

	.post-thumbnail {

		&:focus {
			outline: none;
		}

		.post-thumbnail-inner {
			display: block;
			border: solid 10px $text_color;
			margin-bottom: 1.5em;

			img {
				position: relative;
				display: block;
				width: 100%;
			}
		}

	}

	.image-filters-enabled & {

		.post-thumbnail {
			position: relative;
			display: block;

			.post-thumbnail-inner {
				@include filter-grayscale;
			}

			&:before, &:after {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0; left: 0;
				content: "\020";
				display: block;
			}

			@include filter-duotone;

		}

	}

	.entry-content {

		@include remove-child-margins;
		@include font-smoothing;

		@include media( tablet ) {
			font-size: 20px;
		}

		// Style all elemnts first
		> * {
			@include block-margin();
		}

		.more-link {
			@include link-transition;
			display: inline;
			color: inherit;

			&:after {
				content: "»";
				margin-left: 0.5em;
			}

			&:hover {
				color: $blue;
				text-decoration: none;
			}
		}
	}

}

.entry-header .meta-info,
.singular-post-meta .meta-info {
	@include entry-footer-style;
	@include font-smoothing;
	@include font-size( 12px );

	margin-top: 0.5em;

	> span {
		font-weight: 600;
	}

	@include media( tablet ) {
		@include font-size( 13px );
		margin-top: 1.15em;
	}

	@include media( desktop ) {
		@include font-size( 14px );
	}

	&.has-discussion .comment-count {
		@include media( desktop ) {
			float: right;
		}
	}

	.comment-count {

		.discussion-avatar-list {
			position: relative;
			display: none;

			@include media( desktop ) {
				display: block;
				margin-top: -1*($avatar_size_small + 2*$avatar_border_small);
				margin-bottom: 0.4em;
			}
		}

	}

	&.has-discussion {

		@include media( desktop ) {
			margin-top: 1.7em;
		}

		.comment-count {

			@include media( desktop ) {
				position: relative;
				top: 2.1em;
				float: right;
			}

		}

	}
}

.header-default .hentry {

	.entry-header {
		@include entry-header;
	}

}