
$author_bio_vsep: 3.5em;
$author_bio_vsep_reduction_factor: 0.6;

.author-description {
	@include font-smoothing;
	
	margin: $author_bio_vsep 0 $author_bio_vsep_reduction_factor*$author_bio_vsep;
	
	&:before {
		@include post-section-dash;
	}
	
	h2.author-title {
		@include author-description-title;
		display: inline;
	}
	
	p.author-bio {
		@include author-bio-font-common-styles;
		
		word-spacing: -0.05em;
		display: inline;
		color: $light_text;
		line-height: 1.3;

		&:before {
			@include description-dash;
		}
		
		a.author-link {
			font-family: $title_font;
			font-weight: 700;
			display: inline-block;
		
			&:hover {
				@include link-transition;
				color: $darker_blue;
				text-decoration: none;
			}
		}
	}
	
}

.post-navigation {
	@include author-bio-font-common-styles;
	
	$dash_sep: 0.35em;
	$gap_width: $side_padding;
	
	line-height: 1.2;
	width: calc(100% + 2*#{$gap_width});
	margin: $author_bio_vsep_reduction_factor*$author_bio_vsep 0;
	margin-left: -$gap_width;
	
	.nav-links {
		
		@include font-smoothing;
		
		display: flex;
		flex-direction: column;
		
		@include media( desktop ) {
			flex-direction: row;
		}
		
		a {
			@include link-transition;
			
			br {
				/* Controls the separation between label and link. */
				line-height: 1.45;
				
				@include media( tablet ) {
					line-height: 1.35;
				}
				
			}
			
			.meta-nav {
				color: $light_text;
				user-select: none;
				
				&:before, &:after {
					display: none;
					content: "—";
					width: 2em;
					color: $light_text;
					height: 1em;
				}
			}
			
			.post-title {
				font-family: $title_font;
				font-weight: bold;
			}
			
			&:hover {
				text-decoration: none;
				color: $darker_blue;
			}

		}
		
		.nav-previous, .nav-next {
			border: solid transparent;
			border-width: 0 $gap_width;

			@include media( desktop ) {
				min-width: calc(50% - 2*#{$gap_width});
			}
		}
		
		.nav-previous {
			order: 2;
			
			@include media( desktop ) {
				order: 1;
			}

			+ .nav-next {
				margin-bottom: 1.5em;
			}

			.meta-nav {
				&:before {
					display: inline;
					margin-right: $dash_sep;
				}
			}
		}
		
		.nav-next {
			order: 1;
			
			@include media( desktop ) {
				order: 2;
			}

			.meta-nav {
				&:after {
					display: inline;
					margin-left: $dash_sep;
				}
			}
		}

	}
	
}