
/** === Layout === */

#page {
	width: 100%;
}

#page-wrapper {
	@extend %page-wrapper-padding;
	
	body.home & {
		@extend %site-branding-flex;
	}
	
	body.single & {
		padding-top: 1.2em;
	}
}

#primary {
	min-height: 1em;
	margin: 0 auto;
}

.site-content, .content-wrap {
	box-sizing: content-box;
	
	@include media( tablet ) {
		border-right: solid $logo_wrapper_width_tablet transparent; // rgba( red, 0.5);
		width: calc( 100% - 2*#{$logo_wrapper_width_tablet} );
		body.single & {
			margin-left: $logo_wrapper_width_tablet;
		}
	}
	
	@include media( desktop ) {
		border-right: solid $logo_wrapper_width_desktop transparent; // rgba( red, 0.5);
		width: calc( 100% - 2*#{$logo_wrapper_width_desktop} );
		body.single & {
			margin-left: $logo_wrapper_width_desktop;
		}
	}
}

.layout-wrap {
	border: solid transparent;
	border-width: 0 $side_padding;
	max-width: 425px;
	margin: 0 auto;
	width: 100%;
	
	@include media( tablet ) {
		max-width: $tablet_width;
	}
	
	@include media( desktop ) {
		max-width: $desktop_width;
	}
	
	body:not(.single) & {
		@include media( wide ) {
			max-width: $wide_width;
		}
	}
}

.site-logo {
	
	@include media( tablet ) {
		width: $logo_wrapper_width_tablet;
	}
	
	@include media( desktop ) {
		width: $logo_wrapper_width_desktop;
	}
	
	.custom-logo-link {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		border: solid 5px black;
		box-sizing: content-box;
		overflow: hidden;
		
		@include media( tablet ) {
			width: 65px;
			height: 65px;
		}
	
		@include media( desktop ) {
			width: 90px;
			height: 90px;
		}
	}

}