
/** === Layout === */

#page {
	width: 100%;
}

#page-wrapper {
	@include page-wrapper-padding;
	
	body.home & {
		@include site-branding-flex;
	}
	
	body.singular & {
		padding-top: 1.2em;
	}
}

#primary {
	min-height: 1em;
	margin: 0 auto;
}

.site-content, .content-wrap {
	box-sizing: content-box;
	
	@include media( tablet ) {
		border-right: solid $x-logo-wrapper-width-tablet transparent; // rgba( red, 0.5);
		width: calc( 100% - 2*#{$x-logo-wrapper-width-tablet} );
		margin-left: $x-logo-wrapper-width-tablet;
		
		body.home & {
			margin-left: 0;
		}
	}
	
	@include media( desktop ) {
		border-right: solid $x-logo-wrapper-width-desktop transparent; // rgba( red, 0.5);
		width: calc( 100% - 2*#{$x-logo-wrapper-width-desktop} );
		margin-left: $x-logo-wrapper-width-desktop;
	}
	
}

.layout-wrap {
	border: solid transparent;
	border-width: 0 $side_padding;
	max-width: 425px;
	margin: 0 auto;
	width: 100%;
	
	@include media( tablet ) {
		max-width: $tablet_width;
	}
	
	@include media( desktop ) {
		max-width: $desktop_width;
	}
	
	@include media( wide ) {
		max-width: $wide_width;
	}
}

.site-logo {
	
	@include media( tablet ) {
		width: $x-logo-wrapper-width-tablet;
	}
	
	@include media( desktop ) {
		width: $x-logo-wrapper-width-desktop;
	}
	
	.custom-logo-link {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		border: solid 5px $x-text-color;
		box-sizing: content-box;
		overflow: hidden;
		
		@include media( tablet ) {
			width: 65px;
			height: 65px;
		}
	
		@include media( desktop ) {
			width: 90px;
			height: 90px;
		}
	}

}


/* Restrict to tablet max width */

.hentry .entry-header,
.hentry .entry-content,
.hentry .entry-footer,
.hentry .author-description,
.posts-navigation,
#comments {
	@include media( desktop ) {
		max-width: $tablet_width;
	}
}

.not-found {
	
	.page-title {
		@include font-size( 24px );

		font-family: $x-title-font;
		line-height: 1.35;
		
		@include media( tablet ) {
			@include font-size( 28px );
		}
		
		@include media( desktop ) {
			@include font-size( 34px );
		}
	}
	
	.search-submit {
		vertical-align: middle;
	}
	
	.search-field {
		width: 100%;
		margin-bottom: 0.7em;
		
		@include media( tablet ) {
			width: 18em;
		}
	}
	
}

.archive .page-header {
	@include font-smoothing;
	
	margin-bottom: 3.7em;
	
	@include media( tablet ) {
		margin-bottom: 5.2em;
	}
	
	@include media( desktop ) {
		margin-bottom: 6.4em;
	}
	
	.page-title {
		@include font-size( 27px );

		font-weight: 400;
		color: $x-light-text-darker-1;
		line-height: 1.35;
		margin: 0 0 -0.1em;
		
		@include media( tablet ) {
			@include font-size( 38.5px );
		}
		
		@include media( desktop ) {
			@include font-size( 50px );
			margin-bottom: -0.33em;
		}
	}
	
	.taxonomy-description {
		@include font-size( 25px );
		
		font-family: $x-title-font;
		
		&:after {
			content: ".";
			font-weight: bold;
			color: $x-light-text;
		}
		
		@include media( tablet ) {
			@include font-size( 37.5px );
		}
		
		@include media( desktop ) {
			@include font-size( 50px );
		}
		
		strong {
			
		}
		
	}
	
}

.comment-navigation, 
.posts-navigation {
	margin-top: 1.2em;
	
	@include media( tablet ) {
		margin-top: 2.4em;
	}
	
	.nav-links {
		
		display: flex;
		flex-direction: row;
		
		a {
			@include font-size( 15px );
			font-family: $x-title-font;
			color: $x-light-text;
			font-weight: 600;
		}
		
	}
	
	.nav-previous, .nav-next {
		min-width: 50%;
		width: 100%;
		
		.secondary-text {
			display: none;
			
			@include media( tablet ) {
				display: inline;
			}
		}
		
		svg {
			@include svg-transition;
			vertical-align: middle;
			position: relative;
			fill: $x-light-text;
			margin: 0 -0.35em;
			top: -1px;
		}
		
		a {
			@include link-transition;

			&:hover {
				text-decoration: none;
				color: $x-main-color;
				svg {
					fill: $x-main-color;
				}
			}
		}
	}
	
	.nav-next {
		text-align: right;
	}
	
}

.posts-navigation {
	@include font-size( 19px );
	
	margin-top: $x-footer-sep;
}