
/** === Site Branding === */

.site-header {

	margin-bottom: 3.5em;
	
	@include media( tablet ) {
		margin-bottom: 4.8em;
	}
	
}

/* Site header, singular item */

body.single .site-header {
	@extend %page-wrapper-padding;
	
	margin: 0;
	
	.layout-wrap {
		@extend %site-branding-flex; // Provides flexbox display properties.
	}
	

	/* When header does not have a cover image */
	&:not(.cover-image) {
		margin-bottom: 3.5em;
		
		@include media( desktop ) {
			margin-bottom: 5em;
		}
	}
	
}

/* Entry header, no post thumbnail */

body.single .site-main > .hentry:not(.has-post-thumbnail) {

	&:before {
		@extend %hentry-line-pseudo-before;
		margin-bottom: 1em;
	}

	.entry-header {
		margin-bottom: 1.1em;
		
		@include media( tablet ) {
			margin-bottom: 1.8em;
		}
		
		@include media( desktop ) {
			margin-bottom: 2.1em;
		}
	}

}

/* Site header with cover image */

body.single .site-header.cover-image {
	
	/* Need relative positioning to properly align layers. */
	position: relative;
	
	/* Add text shadow to text, to increase readability. */
	text-shadow: 0 1px 2px rgba(black, 0.35);
	
	@mixin bottom-sep($val) {
		padding-bottom: $val;
		margin-bottom: $val;
	}
	
	/* Shared background settings between pseudo elements. */ 
	%background-settings {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	/* Separations of header & content for each breakpoint. */
	@include bottom-sep(1.2em);
	
	@include media( tablet ) {
		@include bottom-sep(1.6em);
	}
	
	@include media( desktop ) {
		@include bottom-sep(3.15em);
	}
	
	/* Set white text color when cover image is set. */
	.site-branding .site-title,
	.site-branding .site-description,
	.main-navigation a,
	.main-navigation a:after,
	.main-navigation li {
		color: white;
	}
	
	/* Fill SVGs. */
	.social-navigation svg {
		fill: white;
	}
	
	/* Post metadata */
	.singular-post-meta {
		@include font-smoothing;
		@extend %entry-header;

		margin-top: 3.8em;
		
		@include media( tablet ) {
			margin-top: 5.5em;
		}
		
		@include media( desktop ) {
			margin-top: 6em;
		}
		
		.content-wrap:before {
			@extend %hentry-line-pseudo-before;
			background: white;
		}
		
		span,
		.posted-on a,
		.entry-title {
			color: white;
		}
		svg {
			fill: white;
		}
	}
	
	/* Make sure important elements are above pseudo elements used for effects. */
	.site-logo,
	.site-branding,
	.singular-post-meta .content-wrap {
		position: relative;
		z-index: 10;
	}
	
	.site-branding-container:before,
	.site-branding-container:after,
	.singular-post-meta:before,
	.singular-post-meta:after,
	&:after {
		display: block;
		position: absolute;
		top: 0; left: 0;
		content: "\020";
		width: 100%;
		height: 100%;
	}
	
	@extend %background-settings;
	
	/* The intensity of each blend mode is controlled via layer opacity. */

	/* First layer: grayscale. */
	.site-branding-container:before {
		@extend %background-settings;
		filter: grayscale(100%);
		z-index: 1;
	}
	
	/* Second layer: screen. */
	.singular-post-meta:before {
		background: $blue;
		mix-blend-mode: screen;
		opacity: 0.1;
		z-index: 2;
	}
	
	/* Third layer: multiply. */
	.singular-post-meta:after {
		background: $blue;
		mix-blend-mode: multiply;
		opacity: 1;
		z-index: 3;
	}
	
	/* Fourth layer: overlay. */
	.site-branding-container:after {
		background: rgba(white, 0.35);
		mix-blend-mode: overlay;
		opacity: 0.5;
		z-index: 4;
	}
	
	/* Fifth layer: readability overlay */
	&:after {
		background: mix($blue, black, 12%);
		
		/**
		 * Add a transition to the readability overlay, to add a subtle
		 * but smooth effect when resizing the screen.
		 */ 
		transition: opacity 1200ms ease-in-out;

		z-index: 5;
		opacity: 0.38;
		
		@include media( tablet ) {
			opacity: 0.18;
		}
		
		@include media( desktop ) {
			opacity: 0.1;
		}
	}

}

/* Site branding */

.site-branding {
	padding-top: 0.2em;
	letter-spacing: -0.02em;
	color: $light_text;
	line-height: 1.35;
	
	@include media( tablet ) {
		line-height: 1.2;
	}
	
	@include media( desktop ) {
		line-height: 1.35;
	}
	
	.site-title {
		@include font-smoothing;
		@include font-size( 25px );
		display: inline;
		font-family: $title_font;
		color: $text_color;
		font-weight: 600;
		
		body.single & {
			display: block;
			margin: 0.15em 0 0.2em 0;
			font-weight: 400;
			
			@include media( tablet ) {
				@include font-size( 27.5px );
				display: inline;
			}
			
		}
		
		/* When there is no description set, make sure navigation appears below title. */
		+ .main-navigation {
			display: block;
		}

		a {
			@include link-transition;
			text-decoration: none;
			color: inherit;
			
			&:hover {
				color: $text_color_link_hover;
			}
		}
		
		@include media( tablet ) {
			@include font-size( 34px );
			letter-spacing: -0.025em;
			display: block;
			margin: 0.25em 0 0.35em 0;
			font-weight: 700;
		}
		
		@include media( desktop ) {
			@include font-size( 44px );
			display: inline;
		}
		
	}
	
	.site-description {
		@include font-smoothing;
		@include font-size( 25px );
		color: $light_text;
		font-weight: normal;

		@include media( tablet ) {
			@include font-size( 32px );
		}
		
		@include media( desktop ) {
			@include font-size( 45px );
			letter-spacing: -0.01em;
		}
		
		body:not(.single) & {
			@include media( wide ) {
				@include font-size( 42px );
			}
		}
		
		body.single & {
			@include font-size( 25px );
		}
		
		.separator {
			margin: 0 0.1em;
			
			@include media( desktop ) {
				margin-left: 0.2em;
			}
			
			body.single & {
				@include media( tablet ) {
					margin-left: 0.2em;
				}
			}
		}
		
	}
	
	.main-navigation {
		@include font-smoothing;
		display: inline;
		margin-left: 0.2em;
		
		body.single & {
			@include media( tablet ) {
				display: block;
				margin: 0.2em 0 0 0;
			}
		}
		
		.menu-main-navigation-container {
			display: inline;
		}
		
		ul.main-menu {
			
			font-family: $title_font;
			display: inline;
			margin: 0;
			padding: 0;
			
			> li {
				display: inline;
				
				> a {
					@include link-transition;

					&:hover {
						color: $darker_blue;
					}

					&:after {
						content: ",";
						display: inline;
						margin-left: 0.03em;
						color: $light_text;
					}
				}
				
				&:last-child> a:after {
					content: ".";
				}
				
				> a {
					@include font-size( 23px );
					@include link-transition;
					text-decoration: none;
					font-weight: 700;
					color: $blue;
					margin-right: 0.1em;
					letter-spacing: -0.02em;
					
					@include media( tablet ) {
						@include font-size( 31px );
					}
					
					@include media( desktop ) {
						@include font-size( 42px );
					}
					
					body.single & {
						@include media( tablet ) {
							@include font-size( 25px );
						}
					}
					
				}
				
				&:last-child > a {
					margin-right: 0;
				}
				
			}
			
		}
		
		ul.sub-menu {
			display: none;
		}
		
	}

}

/* Social Navigation */

.social-navigation {
	margin-top: 0.6em;
	text-align: center;
	
	@include media( tablet ) {
		margin-top: 1em;
		text-align: left;
	}
	
	@include media( desktop ) {
		margin-top: 1.3em;
	}
	
	body.single & {
		text-align: left;
		
		@include media( tablet ) {
			margin-top: 0.6em;
		}
	}
	
	ul.social-links-menu {

		display: inline-block;
		margin: 0;
		padding: 0;
		
		li {
			display: inline-block;
			list-style: none;
			
			&:nth-child(n+2) {
				@include media( desktop ) {
					margin-left: 0.2em;
				}
			}
			
			body.single &:nth-child(n+2) {
				@include media( tablet ) {
					margin-left: -0.12em;
				}
			}
			
			a {
				display: inline-block;
				line-height: 1;
				
				svg {
					@include svg-transition;
					display: block;
					line-height: 1;
					
					&#ui-icon-link {
						transform: rotate(-45deg);
					}
					
					&:hover {
						fill: $blue;
					}
					
					@include media( tablet ) {
						$size: 35px;
						width: $size;
						height: $size;
					}
					
					@include media( desktop ) {
						$size: 46px;
						width: $size;
						height: $size;
					}
					
					body.single & {
						@include media( tablet ) {
							$size: 25px;
							width: $size;
							height: $size;
						}
					}
				}
			}
		}
		
	}
	
}

/* Site footer */

.site-footer {
	@include font-smoothing;
	@include font-size( 15px );
	
	margin: 4em 0 3em 0;
	padding: 0;
	
	color: $light_text;
	
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
}