
/** === Typography === */

$root-font-body: $text_font;
$root-font-heading: $title_font;

$root-font-size-base: $base_size;
$root-font-size-ratio: 1.2;

$root-font-size-xxs:   1em / (2 * $root-font-size-ratio);
$root-font-size-xs:    1em / (1.5 * $root-font-size-ratio);
$root-font-size-sm:    1em / (1 * $root-font-size-ratio);
$root-font-size-md:    1em * (1 * $root-font-size-ratio);
$root-font-size-lg:    1em * (1.5 * $root-font-size-ratio);
$root-font-size-xl:    1em * (2 * $root-font-size-ratio);
$root-font-size-xxl:   1em * (2.5 * $root-font-size-ratio);
$root-font-size-xxxl:  1em * (3 * $root-font-size-ratio);

$root-line-height-base: 1.5;
$root-line-height-heading: 1.2;
$root-line-height-double: 2 * $root-line-height-heading;

body,
button,
input,
select,
optgroup,
textarea {
	text-rendering: optimizeLegibility;
	font-family: $root-font-body;
	color: #111;
	font-weight: 400;
	font-size: $root-font-size-base;
	line-height: $root-line-height-base;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $root-font-heading;
	line-height: $root-line-height-heading;
	clear: both;
}

h1 {
	font-size: $root-font-size-xxl;
}

.has-larger-font-size,
h2 {
	font-size: $root-font-size-xl;
}

.has-large-font-size,
h3 {
	font-size: $root-font-size-lg;
}

.has-regular-font-size,
h4 {
	font-size: $root-font-size-md;
}

h5 {
	font-size: $root-font-size-md;
}

.has-small-font-size,
h6 {
	font-size: $root-font-size-sm;
}

p {

}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	font-size: $root-font-size-sm;
	background: #eee;
	font-family: $monospace_font;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-size: $root-font-size-sm;
	font-family: $monospace_font;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: $root-font-size-xxxl;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

@include selection {
	background: $text_selection_background;
}
